---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignAfterOpenBracket: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
ColumnLimit: '100'
IndentWidth: '4'
Standard: Auto
ContinuationIndentWidth: 1
TabWidth: '4'
UseTab: Always
ReflowComments: false